
root {
    --primary-color: rgb(66, 125, 189);

}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    
}

* {
    scroll-behavior: smooth;
}

/* hero section */
.hero-section img {
    width: 100%;
    height: 100vh;
    display: block;

}

.hero-section h1 {
  position: absolute;
  top: 10%; 
  left: 10%;
  color: rgb(238, 167, 96);
  margin: 0;
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: 1.3rem;  
  line-height: 1.5;
  text-align: center;
}
  
.hero-section button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 80px;
    font-size: 1.2rem;
    background-color: rgba(238, 167, 96, 0);
    color: white;
    border: solid 1px rgb(245, 245, 245);
    border-radius: 35px;
    cursor: pointer;
}

/* section 1 */

#notre-histoire {
    padding: 100px;
    height: 80vh;
}

#notre-histoire h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: 0.6rem;  
    color: black;
    text-align: start;
    line-height: 1.3;
}

#notre-histoire p {
    font-size: 1.5rem;
}

#notre-histoire img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 80%;
}

#notre-histoire button {
    margin: 0 50px;
    padding: 80px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* section 2 */

#nos-cours img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: 70%;
}

#nos-cours h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: 0.6rem;  
    color: black;
    text-align: start;
    line-height: 1.3;
}

#nos-cours  {
    padding: 100px;
    height: 80vh;
    background-color: #f7d9d1;
}

/* section 3 */

#chapitre {
    margin-top: 100px;
    height: 100vh;
}

#chapitre img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 90%;
}

#chapitre h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: 0.6rem;  
    color: black;
    text-align: start;
    line-height: 1.3;
}

#chapitre h3 {
    font-size: 2rem;
    font-weight: lighter;
    color: black;
    text-align: start;
}

#chapitre span {
    height: 90px;
    border: solid 2px black;
    margin: 10px 0;
    margin-left: 40px;
    margin-right: 40px;
}

/* section 3 */

#la-communaute {
    margin-top: 100px;
    height: 100vh;
    background-color: #b5d1d1;
}

#la-communaute .hide {
    padding: 10px;
    
}

#la-communaute .hide img {
    display: block;
    width: 100%;
    height: 90%;
}
#la-communaute .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 0;
}

#la-communaute h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: 0.6rem;  
    color: black;
    text-align: start;
    line-height: 1.3;
}

#la-communaute button {
    margin-top: 20px;
    padding: 20px 0px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
#la-communaute button i {
    margin-left: 10px;
}

/* section 4  */

#equipe {
    margin-top: 100px;
    height: 100vh;
}

#equipe h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: 0.6rem;  
    color: black;
    text-align: center;
    line-height: 1.3;
}
#equipe span {
    
    height: 130px;
    width: 130px;
    padding: 40px;
    background-color: rgb(211, 146, 81);
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#equipe figure{
    padding: 0px;
}

#equipe .flex {
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}



/* General classes for the app */

figure {
    margin: 0;
    padding: 0;
}

.color-primary {
    color: rgb(62, 137, 150);
}

.color-gray {
    color: gray;
}
.naked-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.naked-list a {
    text-decoration: none;
    color: inherit;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 10px;
}
.two-columns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc((100vh - 20px) / 3) calc((100vh - 20px) / 3) calc((100vh - 20px) / 3);
    height: 100vh; 
    gap: 10px;
    box-sizing: border-box;
}
.one-column {
    grid-template-columns: 1fr;
}
.grid.two-columns > div:last-child {
    grid-column: 1 / -1; 
}


.m-0 {
    margin: 0px;
}
.m-10 {
    margin: 10px;
}
.mr-10 {
    margin-right: 10px;
}


.p-25 {
    padding: 25px;
}

.p-100 {
    padding: 100px;
}

.w-100 {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
}


/* responsive  */

@media (max-width: 1600px) {
    .hero-section h1 {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }
    
    #notre-histoire h2, #nos-cours h2 {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }
    
    #notre-histoire p, #nos-cours p {
        font-size: 1rem;
    }

    #chapitre h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) {
    .hide {
        display: none;
    }
}