
root {
    --primary-color: rgb(66, 125, 189);

}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

/* hero section */

/* .hero-section {
    background-image: url('../images/nova-hero_section.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    color: rgb(191, 139, 87);
    font-weight: lighter;
    letter-spacing: 1.3rem;
    line-height: 1.5;
    text-align: center;
    font-size: 3.5rem;
} */

.hero-section img {
    width: 100%;
    height: 100vh;
    display: block;

}

.hero-section h1 {
  position: absolute;
  top: 10%; 
  left: 10%;
  color: rgb(238, 167, 96);
  margin: 0;
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: 1.3rem;  
  line-height: 1.5;
  text-align: center;
}
  
  .hero-section button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 80px;
    font-size: 1.2rem;
    background-color: rgba(238, 167, 96, 0);
    color: white;
    border: solid 1px rgb(245, 245, 245);
    border-radius: 35px;
    cursor: pointer;
  }

#notre-histoire {
    padding: 100px;
    height: 80vh;
}

#notre-histoire h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: 0.6rem;  
    color: black;
    text-align: start;
    line-height: 1.3;
}

#notre-histoire p {
    font-size: 1.5rem;
    text-align: center;
}

#notre-histoire img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 80%;
}

#notre-histoire button {
    margin: 0 50px;
    padding: 20px 80px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* General classes for the app */

.color-primary {
    color: rgb(62, 137, 150);
}

.naked-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.naked-list a {
    text-decoration: none;
    color: inherit;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.flex {
    display: flex;
}


.m-0 {
    margin: 0px;
}
.m-10 {
    margin: 10px;
}

.p-25 {
    padding: 25px;
}

.p-100 {
    padding: 100px;
}

.w-100 {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
}


